@import "tailwindcss";

@theme {
  --color-cambridge_blue: #84A492;
  --color-brown: #8B898D;
  --color-ecru: #C3A980;
  --color-rich_black: #071013;
  --color-lavender: #EAE8FF;
  --color-violet: #582C4D;
}
